<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 	<session-factory>		

        <!-- SQL dialect - generate SQL for a MySQL database -->
 		<!-- <property name="dialect">org.hibernate.dialect.MySQLDialect</property> -->

 		<!-- Use this for testing -->
 		<property name="dialect">org.hibernate.dialect.H2Dialect</property>
 
 		<!-- Echo all executed SQL statements -->
 		<property name="hibernate.show_sql">true</property>
 		<property name="hibernate.hbm2ddl.auto">update</property>
 		<property name="hibernate.transaction.flush_before_completion">true</property>
 		<property name="hibernate.transaction.auto_close_session">true</property>
 
		<!-- Mapping resource configuration files -->
 		<mapping resource="com/fms/model/Address.hbm.xml"/>
 		<mapping resource="com/fms/model/Floors.hbm.xml"/>
 		<mapping resource="com/fms/model/Facility.hbm.xml"/>
 		<mapping resource="com/fms/model/Inspection.hbm.xml"/>
 		<mapping resource="com/fms/model/Maintenance.hbm.xml"/>
 		<mapping resource="com/fms/model/Person.hbm.xml"/>
 		<mapping resource="com/fms/model/Phone.hbm.xml"/>
 		<mapping resource="com/fms/model/Unit.hbm.xml"/>

 	</session-factory>
 </hibernate-configuration>